*
	margin: 0
	padding: 0
	box-sizing: border-box
	color: $base-color

*::selection
	background-color: $base-color
	color: $bg-color

+font-face("DN-pro", "/assets/font/DN-pro-thin", 100)
+font-face("DN-pro", "/assets/font/DN-pro", 400)
+font-face("DN-pro", "/assets/font/DN-pro-medium", 500)
+font-face("DN-pro", "/assets/font/DN-pro-semibold", 600)

html, body
	height: 100%
	font-size: 100%
	font-family: 'DN-pro', sans-serif
	line-height: 1.4
	background-color: $bg-color
	display: flex
	flex-direction: column
	justify-content: flex-start
	align-items: center

.clearfix::after
	content: "."
	display: block
	clear: both
	font-size: 0
	height: 0
	visibility: hidden

img
	display: block
	max-width: 100%
	height: auto

.side-col
	width: 375px

.center-col
	width: 250px

.ttu
	text-transform: uppercase

.align-end
	justify-content: flex-end

.align-start
	justify-content: flex-start

.flex
	display: flex
	flex-flow: row wrap

.flex-row-reverse
	display: flex
	flex-flow: row-reverse wrap

.f-v-center
	justify-content: center

.f-h-center
	align-items: center
	align-content: center

.margin-auto
	margin: auto

.margin-right-auto
	margin-right: auto

.margin-left-auto
	margin-left: auto

.container
	width: 1000px

.octagon-mask
	clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%)

.main-gradient-line
	@include h-main-gradient
	height: 4px
	width: 100%
