*
	margin: 0
	padding: 0
	box-sizing: border-box
	color: $base-color

*::selection
	background-color: $base-color
	color: $bg-color

+font-face("DN-pro", "/assets/font/DN-pro-thin", 100)
+font-face("DN-pro", "/assets/font/DN-pro", 400)
+font-face("DN-pro", "/assets/font/DN-pro-medium", 500)
+font-face("DN-pro", "/assets/font/DN-pro-semibold", 600)

html, body
	height: 100%
	font-size: 100%
	font-family: 'DN-pro', sans-serif
	line-height: 1.4
	background-color: $bg-color
	display: flex
	flex-direction: column
	justify-content: flex-start
	align-items: center

body
	overflow-x: hidden

.clearfix::after
	content: "."
	display: block
	clear: both
	font-size: 0
	height: 0
	visibility: hidden

img
	display: block
	max-width: 100%
	height: auto

.side-col
	width: 375px

.center-col
	width: 250px

.ttu
	text-transform: uppercase

.align-end
	justify-content: flex-end

.align-start
	justify-content: flex-start

.flex
	display: flex
	flex-flow: row wrap

.flex-row-reverse
	display: flex
	flex-flow: row-reverse wrap

.f-v-center
	justify-content: center

.f-h-center
	align-items: center
	align-content: center

.margin-auto
	margin: auto

.margin-right-auto
	margin-right: auto

.margin-left-auto
	margin-left: auto

.container
	width: 1000px

.octagon-mask
	clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%)

.rabbet-mask
	clip-path: polygon(0 20%,5% 20%,5% 0,95% 0,95% 20%,100% 20%,100% 80%,95% 80%,95% 100%,5% 100%,5% 80%,0 80%)

.main-gradient-line
	@include h-main-gradient
	height: 4px
	width: 100%

.map-pin-icon
	position: relative
	height: 32px
	width: 24px
	top: -10px
	left: -10px

.defaul-list
	list-style: disc
	display: flex
	flex-direction: column
	align-items: center
	li
		font-size: 24px
		font-weight: 400
		line-height: 29px
		padding-left: 20px
		&::after
			background: none

ul
	list-style: none
	text-align: left
	li
		position: relative
		font-size: 24px
		line-height: 28px
		font-weight: 800
		&::after
			content: " "
			display: block
			position: absolute
			top: 50%
			transform: translate(0, -60%)
			left: -24px
			width: 16px
			height: 16px
			background-size: 100%
			background-repeat: no-repeat
			background-position: center center
			background-image: url('/assets/images/icon-flower.webp')
			.no-webp &
				background-image: url('/assets/images/icon-flower.png')

.open-mobile-menu
	display: none
	visibility: hidden
	width: 55px
	height: 55px
	position: fixed
	top: 20px
	right: 20px
	justify-content: center
	align-items: center
	border: 0px solid $base-color
	border-radius: 50%
	background: transparent
	z-index: 1000
	svg
		width: 25px
		height: 25px
		fill: currentColor
	&__sonar
		position: absolute
		left: 0
		top: 0
		width: 100%
		height: 100%
		border: 2px solid
		border-radius: 50%
		opacity: 0

@keyframes widgetPulse
  50%
    -webkit-transform: scale(1, 1)
    transform: scale(1, 1)
    opacity: 1
  100%
    -webkit-transform: scale(2, 2)
    transform: scale(2, 2)
    opacity: 0

.pulse-animate
  -webkit-animation: widgetPulse infinite 2s
  animation: widgetPulse infinite 2s